[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/linmath.h"]
	path = libs/linmath.h
	url = git@github.com:datenwolf/linmath.h.git
[submodule "libs/tinyobjloader"]
	path = libs/tinyobjloader
	url = git@github.com:syoyo/tinyobjloader.git
